@model IEnumerable<SimProNo.ViewModels.DateNoteGroup>

@{
    ViewBag.Title = "Index";
}

<h2>All notes</h2>

@using (Html.BeginForm())
{
  <textarea name="Text" rows="2" cols="80" class="NoteEdit">
  </textarea>
  <input type="submit" value="Add" />
}

@Html.Partial("NoteGroupList", Model)
