@model IEnumerable<SimProNo.ViewModels.DateNoteGroup>

@{
    ViewBag.Title = "Index";
}

<h2>All notes</h2>

@using (Html.BeginForm("NewNote", "Note", FormMethod.Post, new { id = "NewNote"}))
{
  <textarea name="Text" rows="2" cols="80" class="NoteEdit"></textarea>
  <a href="#" onclick="$('#NewNote').submit();">Add</a>  
}

@Html.Partial("NoteGroupList", Model)
