@model IEnumerable<SimProNo.Models.Note>

<div class="NoteList">
@foreach (var item in Model) {
    <div id="@Html.Raw("Note" + item.Id.ToString())" class="NoteArea">
    @Html.Partial("Note", item)
    </div>
}
</div> 

