@model SimProNo.Models.Note
<div id="@Html.Raw("Note" + Model.Id.ToString())" class="NoteArea">
    <div class="NoteText">@Model.Text</div>
    <div class="NoteExtras">
         <div class="NoteDate">
        @Model.CreateDate.ToString("HH:mm")
        </div>
        @Html.Partial("NoteAction" + Model.NoteTypeEnum.ToString(), Model)
    </div>
</div>
