@model SimProNo.Models.Note
<div class="NoteText">@Model.Text</div>
<div class="NoteExtras">
    <div class="NoteFooter">
    <span class="NoteCommands">
    @Ajax.ActionLink("Edit", "Edit", new { id = Model.Id }, new AjaxOptions() { HttpMethod = "Get", UpdateTargetId = "Note" + Model.Id.ToString() })
    </span>
    <span class="NoteDate">
    @Model.CreateDate.ToString("HH:mm")
    </span>
    </div>
    @Html.Partial("NoteAction" + Model.NoteTypeEnum.ToString(), Model)
</div>
